body {
  background-image: url("phpim.jpg");
  background-size: cover; /* масштабировать изображение*/
  background-repeat: no-repeat; /* не повторять изображение*/
}
a {
  margin-right: 15px;
  cursor: pointer;
  font-size: 24px;
  transition: color 0.3s;
  color: black;
}
a:hover {
  color: rgb(68, 0, 255);
}
